<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard MultiDraw">
    <meta name="keywords" content="dashboard, multidraw">
    <meta name="author" content="Roussel Kevin, Noé Bizouard, l'autre">
    <title>MultiDraw - Dashboard</title>
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Image de fond -->
    <img src="/static/webcontent/background.jpg" alt="BackGround" class="background">

    <!-- Navigation -->
    <nav class="main-nav">
        <div class="logo">
            <a href="/">
                <img src="/static/logo.png" alt="Logo MultiDraw" style="height: 30%; width: 30%">
            </a>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/profile">Mon Profil</a></li>
            <li><a href="/games">Mes Jeux</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ul>
    </nav>

    <!-- Carrés -->
    <section class="gamesquaremain">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </section>

</body>
</html>
