      <!DOCTYPE html>
      <html lang="fr">
        <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <meta name="description" content="Welcome to MultiDraw!" />
          <meta name="keywords" content="multidraw" />
          <meta name="author" content="Roussel Kevin, Noé Bizouard, l'autre" />
          <title>MultiDraw - Acceuil</title>
          <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
          <link rel="stylesheet" href="/static/style.css" />
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        </head>

        <body>
          <nav class="main-nav">
            <div class="logo">
              <a href="/">
                <img src="/static/logo.png" alt="Logo MultiDraw" style="height: 30%; width: 30%" />
              </a>
            </div>
            <ul>
              <li><a href="/">Accueil</a></li>
              <li><a href="team.html">L'équipe</a></li>
              <li><a href="https://github.com/Multidrawfr/MultiDraw">Github</a></li>
              <li><a href="login">Se Connecter</a></li>
            </ul>
          </nav>

          <section>
            <img src="/static/webcontent/background.jpg" alt="BackGround" class="background" />
            <section class="acceuil">
              <h3 class="main-h3">Bienvenue Sur</h3>
              <h1 class="main-h1">MultiDraw</h1>

            </section>
          <br>
          <section>
            <h2>Le meilleur jeu de dessin multijoueur !</h2>
            <img src="/static/webcontent/gameplay.png" alt="Emoji" class="gameplay" /> <!-- A ajouter lorsqu'on aura une demo du jeu -->
            
          </section>
        </body>
      </html>
